<!DOCTYPE html>
<html lang="fr">
<head>
    <title>OBM - Open Building Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/lib/bootstrap-4.5.3-dist/css/bootstrap.min.css">
    <script src="/lib/jquery-3.5.1.min.js"></script>
    <script src="/lib/bootstrap-4.5.3-dist/js/bootstrap.bundle.min.js"></script>
    <style>
        html,body {
            padding-top: 40px;
            font-size: 0.8rem;
            background-color: #FFFFFF;
            position: relative;
        }
    </style>
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <img src="/img/logo.svg" class="img-fluid">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class='dropdown-item'>alexandre.cuer@cerema.fr(admin)</div>
          <a class="dropdown-item" href="/folders">[Gestion des dossiers]</a>
          <a class="dropdown-item" href="/users">[Gestion des utilisateurs]</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/surveys/new">Enquêtes client sans mise à disposition de livrable(s)</a>
          <a class="dropdown-item" href="/polls/new">créer un nouveau sondage</a>
          <table><tr><td><a class="dropdown-item" href="/polls/4/edit">satisfaction sur affaire v2019</a></td><td><a class="dropdown-item" data-confirm="Etes vous sûr ?" rel="nofollow" data-method="delete" href="/polls/4"><i class="fa fa-times"></i></a></td></tr><tr><td><a class="dropdown-item" href="/polls/2/edit">satisfaction sur livrable</a></td><td><a class="dropdown-item" data-confirm="Etes vous sûr ?" rel="nofollow" data-method="delete" href="/polls/2"><i class="fa fa-times"></i></a></td></tr><tr><td><a class="dropdown-item" href="/polls/3/edit">satisfaction générale</a></td><td><a class="dropdown-item" data-confirm="Etes vous sûr ?" rel="nofollow" data-method="delete" href="/polls/3"><i class="fa fa-times"></i></a></td></tr><tr><td><a class="dropdown-item" href="/polls/5/edit">Overall satisfaction</a></td><td><a class="dropdown-item" data-confirm="Etes vous sûr ?" rel="nofollow" data-method="delete" href="/polls/5"><i class="fa fa-times"></i></a></td></tr></table>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/help">API help</a>
          <a class="dropdown-item" rel="nofollow" data-method="delete" href="/my/users/sign_out">se déconnecter</a>          
        </div>
      </li>
      </div>
  </nav>
  <div class="container-fluid">
    {{ content }}
  </div>
</body>
